@model ASP_PROJECT.Models.Category


@{
    ViewBag.Title = "Editeaza categoria";
}

<h2 class="text-center text-white lead" style="font-size:30px">@ViewBag.Title</h2>

<div class="text-white">
@using (Html.BeginForm(controllerName: "Categories", actionName: "Edit", method: FormMethod.Post,routeValues: new { id = Model.Id }))
{
    @Html.Label("CategoryName", "Denumire categorie")
    <br />
    @Html.Editor("CategoryName")

    @Html.ValidationMessageFor(m => m.CategoryName, null, new { @class = "text-danger" })
    <br />

    @Html.Label("Description", "Editeaza descrierea")
    <br />
    @Html.Editor("Description")

    @Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })
    <br />

    <br />

    <button class="btn btn-success" type="submit">Modifica categoria</button>
}
</div>
