@model ASP_PROJECT.Models.Category


@{
    ViewBag.Title = "Adauga o noua Categorie";
}


<h2 class="text-center text-white lead" style="font-size:30px">Creeaza-ti Categoria</h2>
<div class="text-white">
@using (Html.BeginForm(actionName: "New", controllerName: "Categories", method: FormMethod.Post))
{

    @Html.Label("CategoryName", "Denumire categorie")
    <br />

    @Html.TextBox("CategoryName", null, new { @class = "form-control" })

    @Html.ValidationMessageFor(m => m.CategoryName, null, new { @class = "text-danger" })
    <br />

    @Html.Label("Description", "Adauga o descriere scurta!(optional)")
    <br />

    @Html.TextBox("Description", null, new { @class = "form-control" })

    <br />

    <br />

    <button class="btn btn-success" type="submit">Adauga categorie</button>

}
</div>