@model ASP_PROJECT.Models.Category
@{
    ViewBag.Title = "Afisare categorie";
}


<h2 class="text-center text-white lead" style="font-size:30px">@ViewBag.Title</h2>

<br />

@if (ViewBag.EsteAdmin)
{
    <i class="bi bi-person text-white"> Creat de: @Model.User.UserName</i>

}

<p class="text-white">@Model.CategoryName</p>

<p class="text-white">@Model.Description</p>


<form method="post" action="/Categories/Delete/@Model.Id">

    <button class="btn btn-danger" type="submit">Sterge categoria</button>

</form>
<br />
<a class="btn alert-success" href="/Categories/Index/">Afisare lista categorii</a>

<h3 class="text-white"> Postari salvate in aceasta categorie</h3>

@if (Model.BookmarkCategories.Count > 0)
{
    @foreach (var bookmarkcat in Model.BookmarkCategories)
    {
        <div class="col-12">
            <div class="card" style="width: 100%;">

                <a class="btn btn-success" href="/Bookmarks/Show/@bookmarkcat.BookmarkId">
                <div class="card-body">

                    @Html.Partial("BookmarkInfo", bookmarkcat.Bookmark)

                    <form method="post" asp-controller="Categories" asp-action="RemoveFromCategory">
                            
                        <input type="hidden" name="BookmarkId" value="@bookmarkcat.BookmarkId" />
                        <input type="hidden" name="CategoryId" value="@bookmarkcat.CategoryId" />

                        <button class="btn btn-danger" type="submit">Sterge bookmark-ul din categorie</button>
                    
                    </form>

                </div>
                </a>
            </div>
        </div>
    }
}
else
{
    <div class="card" style="width: 100%;">
        <p class="text-white">Momentan nu ai postari salvate in aceasta categorie!</p>
        <a class="bth btn-success" href="/Bookmarks/Index">Cauta postari!</a>
    </div>
}
<br />
<hr />
<br />