@model ASP_PROJECT.Models.Bookmark;

<h2 class="text-center mt-5">Editare bookmark</h2>

<br />

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-3">
            <form method="post" action="/Bookmarks/Edit/@ViewBag.Bookmark.Id">

                @Html.Label("Title","Titlu bookmark")
                <br />
                @Html.EditorFor(b => b.Title ,new { htmlAttributes = new {@class="form-control"}})
                <br /><br />

                @Html.Label("Description","Descriere bookmark")
                <br />
                @Html.Editor("Description",new{ htmlAttributes = new {@class="form-control"}})
                <br /><br />

                @Html.Label("Content","Content bookmark")
                <br />
                @Html.TextArea("Content",new { htmlAttributes = new {@class="form-control"}})
                <br /><br />

                <button class="btn btn-success" type="submit">Modifica bookmark</button>

            </form>
        </div>
    </div>
</div>

