@{
    ViewBag.Title = "New";
}

<h2>Adaugare bookmark</h2>
<br />

<form method="post" action="/Bookmarks/New">

    @Html.Label("Title","Titlu bookmark")
    <br />
    @Html.TextBox("Title",null,new{@class="form-control"})
    <br /><br />

    @Html.Label("Description","Descriere bookmark")
    <br />
    @Html.TextArea("Description",null,new {@class="form-control"})
    <br /><br />

    @Html.Label("Content","Content bookmark")
    <br />
    @Html.TextArea("Content",null,new{@class="form-control"})
    <br /><br />

    <button class="btn btn-success" type="submit">Adauga bookmark</button>

</form>


