@model ASP_PROJECT.Models.Bookmark

@{
    ViewBag.Title = "Creeaza o postare";
}

<h2 class="text-center text-white lead" style="font-size:30px">Creeaza o postare</h2>
<br />
<div class="text-white">
<form method="post" action="/Bookmarks/New">
   @Html.ValidationSummary(false, "", new { @class = "text-danger" })
   <div class="container">
   <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    @Html.Label("Content","Content bookmark")
                    <br />
                        @Html.TextArea("Content", null, new { @class = "summernote", style="background-color: whitesmoke;"})
                    <br />
                    @Html.ValidationMessageFor(m => m.Content, null, new { @class = "text-danger" })
                    <br />
                </div>
            </div>
    <div class="col-md-6 d-flex flex-column">
    

        @Html.Label("Title","Titlu bookmark")
        <br />
        @Html.TextBox("Title","",new{placeholder="Introduceti un titlu", @class="form-control"})
        <br />
        @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
        <br />
    

        @Html.Label("Description","Descriere bookmark")
        <br />
        @Html.TextBox("Description",null,new {placeholder="Adaugati o descriere", @class="form-control"})
        <br />@Html.ValidationMessageFor(m => m.Description, null, new { @class = "text-danger" })<br />

        <label>Selectati categoria</label>
        @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categ, "Value", "Text"),
        "Adaugati intr-o categorie(optional)", new { @class = "form-control" })
    
    <br/>
            <button class="btn btn-success" type="submit">Adauga bookmark</button>
     </div>

    
    </div>
    </div>
 
</form>
</div>

