@model ASP_PROJECT.Models.Category
@{
    ViewBag.Title = "Afisare categorie";
}


<h2 class="text-white">@ViewBag.Title</h2>

<br />

@if (ViewBag.EsteAdmin)
{
    <i class="bi bi-person text-white"> Creat de: @Model.User.UserName</i>

}

<p class="text-white">@Model.CategoryName</p>

<p class="text-white">@Model.Description</p>


<form method="post" action="/Categories/Delete/@Model.Id">

    <button class="btn btn-danger" type="submit">Sterge categoria</button>

</form>
<br />
<a class="btn alert-success" href="/Categories/Index/">Afisare lista categorii</a>

@if (Model.BookmarkCategories.Count > 0)
{
    @foreach (var bookmarkcat in Model.BookmarkCategories)
    {
        <div class="col-12">
            <div class="card" style="width: 100%;">

                <div class="card-body">

                    @Html.Partial("BookmarkInfo", bookmarkcat.Bookmark)

                    <form method="post" action="/Categories/RemoveFromCategory/@bookmarkcat.BookmarkId/@bookmarkcat.CategoryId">

                        <button class="btn btn-danger" type="submit">Sterge bookmark-ul din categorie</button>
                    
                    </form>

                </div>
            </div>
        </div>
    }
}
<br />
<hr />
<br />