<div class="card">

    <div class="card-body">

        <h3 class="card-title alert-success py-3 px-3 rounded-2">@Model.Title</h3>

        <div class="card-text">@Html.Raw(Model.Content)</div>

        <div><i class="bi bi-person"></i> @Model.User.Nickname</div>

        <span class="alert-success px-1 align-content-center">@Model.Date</span>

        <div class="likes d-flex justify-content-center">
            <div>&#9829</div>
            <div>@Model.Likes</div>
        </div>

    </div>

</div>